server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://auth-db:5432/${AUTH_DB_NAME:platform_auth}
    username: ${AUTH_DB_USER:auth_user}
    password: ${AUTH_DB_PASSWORD:auth_pass}

  data:
    redis:
      host: redis
      port: 6379

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
