server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://auth-db:5432/${AUTH_DB_NAME:platform_auth}
    username: ${AUTH_DB_USER:auth_user}
    password: ${AUTH_DB_PASSWORD:auth_pass}

  data:
    redis:
      host: redis
      port: 6379

  application:
    name: platform-auth-service
    
management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
  metrics:
    tags:
      application: platform-auth-service
      environment: docker
    distribution:
      percentiles-histogram:
        http.server.requests: true
      slo:
        http.server.requests: 50ms,100ms,250ms,500ms,1s,2s
  tracing:
    enabled: true
    sampling:
      probability: 1.0  # demo-mode; later reduce to 0.1 or lower
  otlp:
    tracing:
      endpoint: http://tempo:4318/v1/traces

logging:
  level:
    root: INFO
  pattern:
    level: "%5p [traceId=%X{traceId:-} spanId=%X{spanId:-} trace_id=%X{trace_id:-} span_id=%X{span_id:-}]"