server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/platform_auth
    username: auth_user
    password: auth_pass
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  application:
    name: platform-auth-service

  flyway:
    enabled: true

  data:
    redis:
      host: localhost
      port: 6379

app:
  jwt:
    issuer: platform-auth-service
    access-ttl-seconds: 900
    refresh-ttl-seconds: 1209600
    secret: "ilovesoftwareisaythroughgrittedteeth"

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
  metrics:
    tags:
      application: platform-auth-service
    distribution:
      percentiles-histogram:
        http.server.requests: true
      slo:
        http.server.requests: 50ms,100ms,250ms,500ms,1s,2s

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: INFO
    com.stackdarker: DEBUG
    root: INFO
  pattern:
    level: "%5p [traceId=%X{traceId:-} spanId=%X{spanId:-}]"